[submodule "_posts/d68fbc171ebe00055225e97472ef91d2"]
	path = _posts/d68fbc171ebe00055225e97472ef91d2
	url = https://gist.github.com/tonyfast/d68fbc171ebe00055225e97472ef91d2
[submodule "_posts/basic-blog"]
	path = _posts/basic-blog
	url = https://github.com/tonyfast/basic-blog
